accelerate==0.26.1
annotated-types==0.6.0
anyio==4.2.0
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
diffusers==0.25.1
exceptiongroup==1.2.0
fastapi==0.109.0
filelock==3.9.0
fsspec==2023.12.2
h11==0.14.0
httpcore==1.0.2
httpx==0.26.0
huggingface-hub==0.20.3
idna==3.6
importlib-metadata==7.0.1
iniconfig==2.0.0
Jinja2==3.1.2
libretranslatepy==2.1.1
lxml==5.1.0
MarkupSafe==2.1.3
mpmath==1.2.1
networkx==3.0rc1
numpy==1.26.3
packaging==23.2
pillow==10.2.0
pluggy==1.4.0
psutil==5.9.8
pydantic==2.5.3
pydantic_core==2.14.6
pytest==7.4.4
PyYAML==6.0.1
regex==2023.12.25
requests==2.31.0
safetensors==0.4.2
sniffio==1.3.0
starlette==0.35.1
sympy==1.11.1
tokenizers==0.15.1
tomli==2.0.1
torch==2.3.0.dev20240122+cu121
tqdm==4.66.1
transformers==4.37.1
translate==3.6.1
typing_extensions==4.9.0
urllib3==2.1.0
uvicorn==0.27.0
zipp==3.17.0
